<!-- extend master template -->
{% extends "master.html" %}


{%block content%}
<div class="row mb-2">
    
    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Lighting</strong>
          <h3 class="mb-0">LED</h3>
          <div class="mb-1 text-muted">6 AM - 8 PM</div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-success {{ page_content['LED_on'] }}">
              <input type="radio" name="options" id="LED_on"  checked> On
            </label>
            <label class="btn btn-outline-secondary {{ page_content['LED_off'] }}">
              <input type="radio" name="options" id="LED_off"> Off 
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Lighting</strong>
            <h3 class="mb-0">Night Light</h3>
            <div class="mb-1 text-muted">8 PM - 12 AM</div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-success {{ page_content['NIGHT_on'] }}">
                <input type="radio" name="options" id="NIGHT_on"  checked> On
              </label>
              <label class="btn btn-outline-secondary {{ page_content['NIGHT_off'] }}">
                <input type="radio" name="options" id="NIGHT_off"> Off
              </label>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-4">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger">Heating</strong>
          <h3 class="mb-0">Current Temperature</h3>
          <div class="mb-1 text-muted">{{ page_content['Temp'] }}*</div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-success {{ page_content['HEAT_on'] }}">
              <input type="radio" name="options" id="HEAT_on"  checked> On
            </label>
            <label class="btn btn-outline-secondary {{ page_content['HEAT_off'] }}">
              <input type="radio" name="options" id="HEAT_off"> Off
            </label>
        </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <h2 class="blog-post-title">Live Look</h2>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/edt3EBvFWfA?rel=0" allowfullscreen></iframe>
  </div>
  </div>
  
</div>

{% endblock %}


</body>
</html>
